<div class="card mt-3">
  <div class="card-body">
    <h4>About Me</h4>

    <p>
      I am a passionate and motivated Software Engineer with a strong
      interest in software development. I have experience
      building responsive and user-friendly web applications using
      Python,React and  Java.Eagerly seeking opportunities to contribute my skills and grow.
    </p>

    <p>
      I enjoy solving problems, writing clean code, and learning new
      technologies to improve my development skills.</p>
      <p>I am a cricketer and also interested in watching alot of movies in my freetime.</p>
  </div>
</div>

