table {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #e3f2fd;   /* light blue */
  color: #2c3e50;
}

td {
  color: #555;
}

table th, table td {
  text-align: center;
}