<div class="card mt-3">
  <div class="card-body">
    <h4>Education</h4>

    <table class="table table-bordered mt-3">
      <thead class="table-light">
        <tr>
          <th>Section</th>
          <th>Details</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>SSLC</td>
          <td>HMR INTERNATIONAL School</td>
          <td>2020</td>
        </tr>
        <tr>
          <td>HSLC</td>
          <td>HMR INTERNATIONAL School</td>
          <td>2022</td>
        </tr>
        <tr>
          <td>College</td>
          <td>Bachelor's in Information Technology - MSEC</td>
          <td>2026</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>